---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}


<p> 13. Mosquera-Guerra F, Trujillo F , Oliveira-da-Costa M, Marmontel M, Van Damme PA, Franco N, Córdova L, Campbell E, Alfaro-Shigueto J, Mena JL, Mangel JC, Usma JS, <b>Carvajal-Castro JD</b>, Mantilla-Meluk H, Armenteras-Pascual D. <a href="/Publication_folder/Home range and movements of Amazon river.pdf">Home range and movements of Amazon river dolphins Inia geoffrensis in the Amazon and Orinoco river basins.</a> <b>Endangered Species Research</b> 45: 269-282. DOI: 10.3354/esr01133. </p>

<p> 12. Fouilloux CA, Serrano Rojas SJ, <b>Carvajal-Castro JD</b>, Valkonen JK, Gaucher P, Fischer MT, Pašukonis A, Rojas B. 2021. <a href="/Publication_folder/Ecology and Evolution - 2021 - Fouilloux - Pool choice in a vertical landscape  Tadpole‐rearing site flexibility in.pdf">Pool choice in a vertical landscape: Tadpole-rearing site flexibility in phytotelm-breeding frogs.</a> <b>Ecology and Evolution</b> 11(13): 9021-9038. DOI: 10.1002/ece3.7741 </p>

<p> 11. Echeverry-Cárdenas W, López-Castañeda C, <b>Carvajal-Castro JD</b>, Aguirre-Obando OA. <a href="/Publication_folder/Potential geographic distribution of the Tiger Mosquito.pdf">Potential geographic distribution of the Tiger Mosquito Aedes albopictus (Skuse, 1894) (Diptera: Culicidae) in current and future conditions for Colombia.</a> <b>PLoS Neglected Tropical Diseases</b> 15(5): e0008212. DOI: 10.1371/journal.pntd.0008212 </p>

<p> 10. Jiménez-Vargas GM, Atehortua-Vallejo MA, Arcila-Pérez LF, <b>Carvajal-Castro JD</b>, Vargas-Salinas F. 2021. <a href="/Publication_folder/Assemblages_functional_diversity.pdf">Natural abiotic noise promotes segregation on functional diversity in neotropical anuran assemblages?</a> <b>Biological Journal of the Linnean Society</b> 132: 847–860. DOI: 10.1093/biolinnean/blaa232 </p>

<p> 9. <b>Carvajal-Castro JD</b>, López-Aguirre Y, Ospina-L A, Santos JC, Rojas B, Vargas-Salinas. 2020. <a href="/Publication_folder/Carvajal_etal_2020_amplexus.pdf">Much more than a clasp: Evolutionary patterns of amplexus diversity in anurans.</a> <b>Biological Journal of the Linnean Society</b> 129(3): 652-663. DOI: 10.1093/biolinnean/blaa009 </p>

<p> 8. Acosta et al. 2020. <a href="#">Boyacá Bio: Resultados, Retos y Oportunidades.</a> Instituto de Investigaciones de Recursos Biológicos Alexander von Humboldt. Bogotá, Colombia</p>

<p> 7. <b>Carvajal-Castro JD</b>, Ospina-L AM, Guerrero-Peláez S, Toro-López Y, Cabrera-Casas L, Pulido-G A, García-Merchán VH, Vargas-Salinas F. 2019. <a href="/Publication_folder/Patterns of species diversity in response to urbanization in a Neotropical Andean city.pdf">Birds vs Bricks: Patterns of species diversity in response to urbanization in a neotropical andean city.</a> <b>PLoS ONE</b> 14(6): e0218775. DOI: 10.1371/journal.pone.021877 </p>

<p> 6. Mosquera-Guerra F, Trujillo F, Parks D, Oliveira-da-Costa M, Van Damme P, Echeverría A, Franco N, <b>Carvajal-Castro JD</b>, Mantilla-Meluk H, Marmontel M, Armenteras-Pascual D. 2019. <a href="/Publication_folder/Mercury in Populations of River Dolphins of the Amazon and Orinoco Basins.pdf">Presence of mercury in populations of river dolphins of the Amazon and Orinoco basins.</a> <b>EcoHealth</b> 16(4): 743-758. DOI: 10.1007/s10393-019-01451-1 </p>

<p> 5. Torres M. et al. 2019. <a href="#">Santander Bio: Resultados, Retos y Oportunidades.</a> Instituto de Investigaciones de Recursos Biológicos Alexander von Humboldt. Bogotá, Colombia</p>

<p> 4. Mosquera-Guerra F, Trujillo F, Parra-Sandoval CA, <b>Carvajal-Castro JD</b>, Mantilla-Meluk H. 2018. <a href="#">Aspectos poblacionales y biogeográficos de la tonina o delfín de río, Inia geoffrensis humboldltiana Pilleri & Gihr, 1978 (Cetartiodactyla, Iniidae) en los ríos Guayabero y Losada, sierra de La Macarena, Meta, Colombia.</a> Instituto Alexander von Humboldt. Bogotá, Colombia</p>

<p> 3. Trujillo F, Mosquera-Guerra F, Díaz-Pulido A, <b>Carvajal-Castro JD</b>, Mantilla-Meluk H. 2018. <a href="#">Mammals of Colombian Guiana.</a> Instituto Alexander von Humboldt. Bogotá, Colombia</p>

<p> 2. García-Merchán VH, <b>Carvajal-Castro JD</b>, González-Rivillas N, Sosa C. 2017. <a href="#">Persistencia de especies en un contexto de cambio climático: Palma de cera del Quindío (Ceroxylon quindiuense) como modelo de estudio.</a> Editorial Universidad del Quindío. ISBN 978-958-8593-81-4 </p>

<p> 1. <b>Carvajal-Castro JD</b>, Vargas-Salinas F. 2016. <a href="/Publication_folder/Stream_noise_habitat_filtering_.pdf">Stream noise, habitat filtering, and the phenotypic and phylogenetic structure of Neotropical anuran assemblages.</a> <b>Evolutionary Ecology</b> 30(3): 451–469. DOI: 10.1007/s10682-016-9817-8 </p>



{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



