---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---


<p> 1. <b>Carvajal-Castro JD</b>, Vargas-Salinas F. 2016. <a href="/Publication_folder/Stream_noise_habitat_filtering_.pdf"> Stream noise, habitat filtering, and the phenotypic and phylogenetic structure of Neotropical anuran assemblages.</a> <b>Evolutionary Ecology</b> 30(3): 451–469. DOI: 10.1007/s10682-016-9817-8 </p>
    


{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



