---
layout: default
---

{% include home-header.html %}
<h1> Hi, I'm Juan Carvajal-Castro, a Colombian biologist doing my Ph.D in Santos lab since 2021 (https://www.jcsantosresearch.org/).

  I want to understand the biology diversity in differentes scales, from genes to landscapes. For this propose I used phylogenetic methods, molecular evolution analysis,
  and bioinformatic tools to study the evolution of coloration and autoresistence in aposematic frogs and respiration pigments of lizards and impact of urbanization on genetic variability in Colombian herpetofauna.
  I enjoy communicating science, reading books, listening music, and watching diverse films.

</h1>


<div class="container">
    <img src="/Photos/home.jpeg" alt="Snow" style="width:100%;">
  </div>


