---
layout: default
---
{% include home-header.html %}

<!DOCTYPE html>
<html>
  <head>
    <title>Peer-reviewed </title>
  </head>
  <body>
    <h1>Peer-reviewed</h1>

    <p><b>2021</b>
    

    <p> 14.  <a href="/Publication_folder/.pdf">pdf</a>.</p>
  
    <p> 13. Mosquera-Guerra F, Trujillo F , Oliveira-da-Costa M, Marmontel M, Van Damme PA, Franco N, Córdova L, Campbell E, Alfaro-Shigueto J, Mena JL, Mangel JC, Usma JS, Carvajal-Castro JD, Mantilla-Meluk H, Armenteras-Pascual D. Home range and movements of Amazon river dolphins Inia geoffrensis in the Amazon and Orinoco river basins. Endangered Species Research 45: 269-282. DOI: 10.3354/esr01133. <a href="/Publication_folder/Home range and movements of Amazon river.pdf">pdf</a>.</p>
    
    <p> 12. Fouilloux CA, Serrano Rojas SJ, <b>Carvajal-Castro JD</b>, Valkonen JK, Gaucher P, Fischer MT,, Pašukonis A, Rojas B. 2021. Pool choice in a vertical landscape: Tadpole‐rearing site flexibility in phytotelm‐breeding frogs. Ecology and evolution 11(13): 9021-9038. DOI: 10.1002/ece3.7741 <a href="/Publication_folder/Ecology and Evolution - 2021 - Fouilloux - Pool choice in a vertical landscape  Tadpole‐rearing site flexibility in.pdf">pdf</a>.</p>
    
    <p> 11. Echeverry-Cárdenas W, López-Castañeda C, <b>Carvajal-Castro JD</b>, Aguirre-Obando OA. Potential geographic distribution of the Tiger Mosquito Aedes albopictus (Skuse, 1894) (Diptera: Culicidae) in current and future conditions for Colombia. PLoS Neglected Tropical Diseases 15(5): e0008212. DOI: 10.1371/journal.pntd.0008212 <a href="/Publication_folder/Potential geographic distribution of the Tiger Mosquito.pdf">pdf</a>.</p>
    
    <p> 10. Jiménez-Vargas GM, Atehortua-Vallejo MA, Arcila-Pérez LF, <b>Carvajal-Castro JD</b>, Vargas-Salinas F. 2021. Natural abiotic noise promotes segregation on functional diversity in neotropical anuran assemblages? <b>Biological Journal of the Linnean Society</b>  132: 847–860. DOI: 10.1093/biolinnean/blaa232 <a href="/Publication_folder/Assemblages_functional_diversity.pdf">pdf</a>.</p>
    
    <p><b>2020</b>
    <p> 9. <b>Carvajal-Castro JD</b>, López-Aguirre Y, Ospina-L A, Santos JC, Rojas B, Vargas-Salinas. 2020. Much more than a clasp: Evolutionary patterns of amplexus diversity in anurans. <b>Biological Journal of the Linnean Society</b> 129(3): 652-663. DOI: 10.1093/biolinnean/blaa009 <a href="/Publication_folder/Carvajal_etal_2020_amplexus.pdf">pdf</a>.</p>
    <p> 8. Acosta et al. 2020. Boyacá Bio: Resultados, Retos y Oportunidades. Instituto de Investigaciones de Recursos Biológicos Alexander von Humboldt. Bogotá, Colombia</p>
    <p><b>2019</b>
    <p> 7. <b>Carvajal-Castro JD</b>, Ospina-L AM, Guerrero-Peláez S, Toro-López Y, Cabrera-Casas L, Pulido-G A, García-Merchán VH, Vargas-Salinas F. 2019. Birds vs Bricks: Patterns of species diversity in response to urbanization in a neotropical andean city. <b>PloS ONE</b> 14(6): e0218775. DOI: 10.1371/journal.pone.021877 <a href="/Publication_folder/Patterns of species diversity in response to urbanization in a Neotropical Andean city.pdf">pdf</a>.</p>
    <p> 6. Mosquera-Guerra F, Trujillo F, Parks D , Oliveira-da-Costa M, Van Damme P, Echeverría A, Franco N , <b>Carvajal-Castro JD</b>, Mantilla-Meluk H, Marmontel M, Armenteras- Pascual D. 2019. Presence of mercury in populations of river dolphins of the Amazon and Orinoco basins. <b>EcoHealth</b> 16(4): 743-758. DOI: 10.1007/s10393-019-01451-1 <a href="/Publication_folder/Mercury in Populations of River Dolphins of the Amazon and Orinoco Basins.pdf">pdf</a>.</p>
    <p> 5. Torres M. et al. 2019. Santander Bio: Resultados, Retos y Oportunidades. Instituto de Investigaciones de Recursos Biológicos Alexander von Humboldt. Bogotá, Colombia</p>
    <p><b> Before 2018</b>
    <p> 4. Mosquera-Guerra F, Trujillo F, Parra-Sandoval CA, <b>Carvajal-Castro JD</b>, Mantilla-Meluk H. 2018. Aspectos poblacionales y biogeográficos de la tonina o delfín de río, Inia geoffrensis humboldltiana Pilleri & Gihr, 1978 (Cetartiodactyla, Iniidae) en los ríos Guayabero y Losada, sierra de La Macarena, Meta, Colombia. In: Biodiversidad de la sierra de La Macarena, Meta, Colombia. Parte I. Ríos Guayabero medio, bajo Losada y bajo Duda. Lasso, C. A., M. A. Morales-Betancourt & I. D. Escobar-Martínez (Editors). Instituto Alexander von Humboldt. Bogotá, Colombia</p>
    <p> 3. Trujillo F, Mosquera-Guerra F, Díaz-Pulido A, <b>Carvajal-Castro JD</b>, Mantilla-Meluk H. 2018. Mammals of Colombian Guiana. In: Fauna Silvestre del Escudo Guayanés (Colombia- Venezuela). Lasso, C. A. & J. C. Señaris (Editors). Instituto Alexander von Humboldt. Bogotá, Colombia  </p>
    <p> 2. García-Merchán VH, <b>Carvajal-Castro JD</b>, González-Rivillas N, Sosa C. 2017. Persistencia de especies en un contexto de cambio climático: Palma de cera del Quindío (Ceroxylon quindiuense) como modelo de estudio. Editorial Universidad del Quindío. ISBN 978-958-8593-81-4  </p>
    <p> 1. <b>Carvajal-Castro JD</b>, Vargas-Salinas F. 2016. Stream noise, habitat filtering, and the phenotypic and phylogenetic structure of Neotropical anuran assemblages. <b>Evolutionary Ecology</b> 30(3): 451–469. DOI: 10.1007/s10682-016-9817-8 <a href="/Publication_folder/Stream_noise_habitat_filtering_.pdf">pdf</a>.</p>
    
    
    <h1>Under Review</h1>
    <p>Non peer-reviewed</p>

    <h1>Under Review</h1>

    <p>Toro-Gomez MP, <b>Carvajal-Castro JD</b>, Casas-Cardona S, Vargas-salinas F.Experimental evidence suggests that tadpole transport on the dorsum could contribute to shape the evolution of warning signal coloration in poison-dart frogs. submitted to Evolutionary Ecology.</p>
 
 
 
  </body>
</html>

<script>
  function backToTop() {
    const main = document.getElementById("site-main");
    main.scrollTop = 0;
  }
</script>
