---
layout: default
---
{% include home-header.html %}

<!DOCTYPE html>
<html>
  <head>
    <title>Peer-reviewed </title>
  </head>
  <body>
    <h1>Peer-reviewed</h1>

    <p> 8. Acosta et al. 2020. Boyacá Bio: Resultados, Retos y Oportunidades. Instituto de Investigaciones de Recursos Biológicos Alexander von Humboldt. Bogotá, Colombia</p>
    
    <p> 7. <b>Carvajal-Castro JD</b>, Ospina-L AM, Guerrero-Peláez S, Toro-López Y, Cabrera-Casas L, Pulido-G A, García-Merchán VH, Vargas-Salinas F. 2019. Birds vs Bricks: Patterns of species diversity in response to urbanization in a neotropical andean city. PloS ONE 14(6): e0218775. DOI: 10.1371/journal.pone.021877 <a href="/Publication_folder/Patterns of species diversity in response to urbanization in a Neotropical Andean city">pdf</a>.</p>

    <p> 6. Mosquera-Guerra F, Trujillo F, Parks D , Oliveira-da-Costa M, Van Damme P, Echeverría A, Franco N , Carvajal-Castro JD, Mantilla-Meluk H, Marmontel M, Armenteras- Pascual D. 2019. Presence of mercury in populations of river dolphins of the Amazon and Orinoco basins. EcoHealth 16(4): 743-758. DOI: 10.1007/s10393-019-01451-1 <a href="/Publication_folder/Mercury in Populations of River Dolphins of the Amazon and Orinoco Basins.pdf">pdf</a>.</p>

    <p> 5. Torres M. et al. 2019. Santander Bio: Resultados, Retos y Oportunidades. Instituto de Investigaciones de Recursos Biológicos Alexander von Humboldt. Bogotá, Colombia</p>
    <p> 4. Mosquera-Guerra F, Trujillo F, Parra-Sandoval CA, Carvajal-Castro JD, Mantilla-Meluk H. 2018. Aspectos poblacionales y biogeográficos de la tonina o delfín de río, Inia geoffrensis humboldltiana Pilleri & Gihr, 1978 (Cetartiodactyla, Iniidae) en los ríos Guayabero y Losada, sierra de La Macarena, Meta, Colombia. In: Biodiversidad de la sierra de La Macarena, Meta, Colombia. Parte I. Ríos Guayabero medio, bajo Losada y bajo Duda. Lasso, C. A., M. A. Morales-Betancourt & I. D. Escobar-Martínez (Editors). Instituto Alexander von Humboldt. Bogotá, Colombia</p>
    <p> 3. Trujillo F, Mosquera-Guerra F, Díaz-Pulido A, <b>Carvajal-Castro JD</b>, Mantilla-Meluk H. 2018. Mammals of Colombian Guiana. In: Fauna Silvestre del Escudo Guayanés (Colombia- Venezuela). Lasso, C. A. & J. C. Señaris (Editors). Instituto Alexander von Humboldt. Bogotá, Colombia  </p>
    <p> 2. García-Merchán VH, <b>Carvajal-Castro JD</b>, González-Rivillas N, Sosa C. 2017. Persistencia de especies en un contexto de cambio climático: Palma de cera del Quindío (Ceroxylon quindiuense) como modelo de estudio. Editorial Universidad del Quindío. ISBN 978-958-8593-81-4  </p>
    <p> 1. <b>Carvajal-Castro JD</b>, Vargas-Salinas F. 2016. Stream noise, habitat filtering, and the phenotypic and phylogenetic structure of Neotropical anuran assemblages. Evolutionary Ecology 30(3): 451–469. DOI: 10.1007/s10682-016-9817-8 <a href="/Publication_folder/Stream_noise_habitat_filtering_.pdf">pdf</a>.</p>
  </body>
</html>

<script>
  function backToTop() {
    const main = document.getElementById("site-main");
    main.scrollTop = 0;
  }
</script>
