---
layout: default
---
{% include home-header.html %}

<!DOCTYPE html>
<html>
  <head>
    <title>Peer-reviewed </title>
  </head>
  <body>
    <h1>ewed</h1>

    <p> 5. Torres M. et al. 2019. Santander Bio: Resultados, Retos y Oportunidades. Instituto de Investigaciones de Recursos Biológicos Alexander von Humboldt. Bogotá, Colombia.</p>
    <p> 4. Mosquera-Guerra F, Trujillo F, Parra-Sandoval CA, Carvajal-Castro JD, Mantilla-Meluk H. 2018. Aspectos poblacionales y biogeográficos de la tonina o delfín de río, Inia geoffrensis humboldltiana Pilleri & Gihr, 1978 (Cetartiodactyla, Iniidae) en los ríos Guayabero y Losada, sierra de La Macarena, Meta, Colombia. In: Biodiversidad de la sierra de La Macarena, Meta, Colombia. Parte I. Ríos Guayabero medio, bajo Losada y bajo Duda. Lasso, C. A., M. A. Morales-Betancourt & I. D. Escobar-Martínez (Editors). Instituto Alexander von Humboldt. Bogotá, Colombia</p>
    <p> 3. Trujillo F, Mosquera-Guerra F, Díaz-Pulido A, Carvajal-Castro JD, Mantilla-Meluk H. 2018. Mammals of Colombian Guiana. In: Fauna Silvestre del Escudo Guayanés (Colombia- Venezuela). Lasso, C. A. & J. C. Señaris (Editors). Instituto Alexander von Humboldt. Bogotá, Colombia  </p>
    <p> 2. García-Merchán VH, Carvajal-Castro JD, González-Rivillas N, Sosa C. 2017. Persistencia de especies en un contexto de cambio climático: Palma de cera del Quindío (Ceroxylon quindiuense) como modelo de estudio. Editorial Universidad del Quindío. ISBN 978-958-8593-81-4  </p>
    <p> 1. Carvajal-Castro JD, Vargas-Salinas F. 2016. Stream noise, habitat filtering, and the phenotypic and phylogenetic structure of Neotropical anuran assemblages. Evolutionary Ecology 30(3): 451–469. DOI: 10.1007/s10682-016-9817-8 <a href="/Publication_folder/Stream_noise_habitat_filtering_.pdf">pdf</a>.</p>
  </body>
</html>

<script>
  function backToTop() {
    const main = document.getElementById("site-main");
    main.scrollTop = 0;
  }
</script>
