---
layout: default
---
{% include home-header.html %}
html:
    toc: true


<!DOCTYPE html>
<html>
  <head>
    
        
  </head>
  <body>
    <p><b>Evolution of Parental Care in Frogs</b></p>

    <h1> 
      As part of my Ph.D thesis, I studied how the coloration (i.e., aposematism) increased and promoted the diversity and complexity of parental care behaviors in poison frogs.
      Additionally, we have explored the relationship between predation risk and tadpoles transport in a species frog using trained chickens and images of frogs.
    </h1>

    <p><b>Species Distribution Models and Climate Change</b></p>

    <h1> 
      For one of my thesis chapter, I am construncting the species distribution models for many frog species using physiological and behavioral data. My idea is test the potential
      consequences of climate change in species distribution and what we can contribute for species conservation. 
    </h1>

    <p><b>Urbanization and Amphibia diversity</b></p>
</body>
</html>

